.image35-1-icon,
.tude-de-cas {
  flex: 1;
  position: relative;
}
.image35-1-icon {
  height: 347px;
  margin-top: 100px;
  overflow: hidden;
  object-fit: cover;
  width: 100%; 
  height: auto; 
  object-fit: contain;;
}
.tude-de-cas {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.tude-de-cas-cyclistic-bike-s-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 39.4px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.scnario {
  margin: 0;
  height: 48px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.scnario-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 116px var(--padding-15xl-3) var(--padding-96xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.cyclistic-bike-share-container {
  height: 347px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.cyclistic-bike-share-est-une-e-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) 0 var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.ask-demander {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.data-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Courier New", monospace; /* Appliquer Courier New */
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    margin-bottom: 90px;
    padding-top: 90px;
  }
  
  .data-list p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px; /* Espacement entre la catégorie et la valeur */
    margin: 5px 0;
  }
  
  .data-list b {
    min-width: 200px; /* Largeur fixe pour alignement */
    text-align: left;
    font-weight: bold !important; /* Forcer le gras */
    color: var(--color-white); /* Couleur de texte */
    margin-right: 40px; /* Doubler l'espace à droite de la catégorie */
  }
  
  .data-list span {
    color: var(--color-white); /* Assurer que le texte de la description soit en blanc */
  } 
.ask-demander-wrapper {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 114px 68.3px 115px;
  box-sizing: border-box;
  max-width: 100%;
}
.nettoyer-wrapper {
 width: auto;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: flex-start;
 padding: 90px 114px 20px 115px;
 box-sizing: border-box;
 max-width: 100%;
}
.cyclistic-bike-share-container1 {
  height: 325px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.mission-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.prparer-les-donnes {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.capture-decran-le-2025-02-0-container {
  width: 586.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 111px var(--padding-49xl-3) 112px;
  box-sizing: border-box;
  max-width: 100%;
}
.i,
.nous-aurons-accs-aux-donnes {
  font-family: var(--font-helvetica-neue);
}
.nous-aurons-accs-aux-donnes {
  margin: 0;
}
.ride-id {
  font-family: var(--font-courier-new);
}
.identifiant-unique-des {
  white-space: pre-wrap;
}
.data-list2-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche */
    justify-content: flex-start;
    width: 100%;
  }
  .tripduration-secs-le-container {
    flex: 1;
    position: relative;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
  }
  
  .data-list2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px; /* Réduction de l'espace entre la catégorie et la description */
    width: 100%;
    flex-wrap: nowrap;
    margin: 5px 0; /* Réduction de l'espace vertical entre chaque ligne */
  }  
  
  .ride-id {
    width: 250px; /* Fixe une largeur suffisante pour toutes les catégories */
    text-align: left;
    font-weight: bold;
    white-space: nowrap; /* Empêche le texte des catégories de passer à la ligne */
  }
  
  .identifiant-unique-des {
    flex: 1; /* Permet au texte de prendre tout l'espace restant */
    text-align: left;
    white-space: normal; /* Permet au texte de passer à la ligne si besoin */
  }
  

.started-at {
  font-family: var(--font-courier-new);
  white-space: pre-wrap;
}
.blank-line1 {
  margin: 0;
  color: #d9d9d9;
}
.les-donnes-sont-originales {
  margin-bottom: 0;
}
.les-donnes-sont-fiables-ell {
  margin: 0;
  font-family: var(--font-helvetica-neue);
  font-size: inherit;
  padding-left: var(--padding-10xl);
}
.nous-aurons-accs-container {
  height: 959px;
  flex: 1;
  position: relative;
  line-height: 25px;
  display: inline-block;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 100%;
}
.nous-aurons-accs-aux-donnes-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 41.4px var(--padding-30xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-courier-new);
}
.nettoyer-et-organiser {
        margin: 0;
        flex: 1;
        position: relative;
        font-size: inherit;
        font-weight: 700;
        font-family: inherit;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
      }
.nettoyer-et-organiserwrapper {
        width: 485.5px;
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: flex-start;
        padding: 0 114px var(--padding-49xl-3) var(--padding-96xl);
        box-sizing: border-box;
        max-width: 100%;
}
.bike-type-comparison-wrapper,
.frame4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame4 {
  width: 841px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-15xl) var(--padding-11xs);
}
.bike-type-comparison-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-12xs) var(--padding-15xl-3) 0;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.httpsdivvy-tripdatas3amaz2 {
  text-decoration: underline;
}
.httpsdivvy-tripdatas3amaz1 {
  color: inherit;
}
.premirement-jai-tlcharg-container {
    height: auto;
    position: relative;
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.2; /* Ajuste l'espacement entre les lignes */
  }
  
.premirement-jai-tlcharg-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-26xl) 20px var(--padding-25xl); /* Réduit l'espace vertical */
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-helvetica-neue);
  }
  
  .frame-icon {
    width: 100%;  /* L'image prend la largeur complète du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement pour garder les proportions */
    position: relative;
    overflow: hidden;
    object-fit: contain; /* Permet à l'image de rester entière sans être coupée */
    margin-top: -30px; /* Réduit l'espace vertical entre l'image et le texte */
  }
  
  
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl) var(--padding-15xl-3) var(--padding-23xl);
  box-sizing: border-box;
  max-width: 100%;
}
.peak-usage-analysis13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) var(--padding-40xl-4) var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon23 {
    width: 100%;  /* L'image prend la largeur complète du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement pour garder les proportions */
    position: relative;
    overflow: hidden;
    object-fit: contain; /* Permet à l'image de rester entière sans être coupée */
    margin-top: -30px; /* Réduit l'espace vertical entre l'image et le texte */
}
.peak-usage-analysis32,
.vrification-du-format-de-date-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl) var(--padding-15xl-4) var(--padding-23xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 50px ;
}
.vrification-du-format-de-date-wrapper {
  padding: 0 var(--padding-26xl) var(--padding-40xl-4) var(--padding-30xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon2 {
    width: 100%;  /* L'image prend la largeur complète du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement pour garder les proportions */
    position: relative;
    overflow: hidden;
    object-fit: contain; /* Permet à l'image de rester entière sans être coupée */
    margin-top: -30px; /* Réduit l'espace vertical entre l'image et le texte */
}
.tripduration-secs-le-temps-d-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 49.4px var(--padding-30xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-courier-new);
}
.sans-surprise-les-container {
  height: 100px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.peak-usage-analysis20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 64.4px var(--padding-29xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame15 {
    height: auto; /* Ajuste la hauteur automatiquement */
    max-width: 100%; /* Prend toute la largeur disponible */
    flex: 1;
    position: relative;
    overflow: hidden;
    object-fit: contain; /* Garde l'image entière sans la couper */
}
.capture-decran-le-2025-02-0-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-15xl-4) var(--padding-20xl);
  box-sizing: border-box;
  max-width: 100%;
}
.en-analysant-ces-container {
  height: 150px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.peak-usage-analysis35 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 53.4px var(--padding-30xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon5 {
    width: 100%;  /* L'image prend la largeur complète du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement pour garder les proportions */
    position: relative;
    overflow: hidden;
    object-fit: contain; /* Permet à l'image de rester entière sans être coupée */
}
.peak-usage-analysis24 {
  width: 1055px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl) var(--padding-27xl) var(--padding-23xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.capture-decran-le-2025-02-08 {
    margin-top: -100px;
    width: 100%;  /* L'image prend la largeur complète du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement pour garder les proportions */
    position: relative;
    overflow: hidden;
    object-fit: contain; /* Permet à l'image de rester entière sans être coupée */
}
.analyse-des-donnes {
  margin: 0;
  width: 892px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.peak-usage-analysis26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-48xl) 5px;
  box-sizing: border-box;
  max-width: 100%;
}
.analyse-generale {
  margin: 0;
  font-size: var(--font-size-7xl);
}
.nous-arrivons-maintenant-container {
  height: 405px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.nous-arrivons-maintenant-la-wrapper {
    margin-top: -20px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-48xl) 141.3px 70px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame18,
.frame19 {
  height: 489px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame19 {
  height: 588px;
}
.frame-wrapper5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) var(--padding-15xl-4) var(--padding-22xl);
  box-sizing: border-box;
  max-width: 100%;
}
.quel-est-le-container {
  height: 475px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.quel-est-le-mois-o-les-utilis-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) 52px var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.capture-decran-le-2025-02-06 {
  height: 795px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.prparer-les-donnes-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) var(--padding-15xl-4) var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-icon7 {
  height: 599px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.peak-usage-analysis7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl) var(--padding-15xl-4) var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
}
.evolution-annuelle-par-container {
  height: 80px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.evolution-annuelle-par-type-d-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) var(--padding-14xl) var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame46 {
  height: 348px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.peak-usage-analysis38 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) var(--padding-15xl-3) var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame21 {
  height: 368px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.sans-surprise-les-utilisateur-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) var(--padding-xl) var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.analyse-des-conditions-mtoro {
  margin: 0;
  font-size: var(--font-size-7xl);
  font-family: var(--font-helvetica-neue);
}
.les-donnes-sont-fiables-ell2 {
  margin: 0;
  font-family: var(--font-helvetica-neue);
  padding-left: var(--padding-10xl);
}
.analyse-des-conditions-container {
  height: 775px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.analyse-des-conditions-mtoro-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) var(--padding-15xl-4) var(--padding-28xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-courier-new);
}
.frame-icon10,
.frame23 {
  height: 718px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-icon10 {
  height: 395px;
}
.nous-allons-maintenant1 {
  height: 75px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.user-behavior-analysis {
  width: 1051.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) 14px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.capture-decran-le-2025-02-012 {
  height: 671px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.user-behavior-analysis1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl) var(--padding-15xl-4) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line34 {
  margin: 0;
  font-size: var(--font-size-3xl);
}
.regression-lineaire-container {
  height: 265px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.user-behavior-analysis2 {
  width: 1045.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) var(--padding-25xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.n-trips-0-container {
  width: 972px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.user-behavior-analysis3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl) 38.3px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
}
.la-rgression-linaire-container {
  height: 100px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.user-behavior-analysis4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 75.4px var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame26 {
  height: 352px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.rsultats {
  margin: 0;
  white-space: pre-wrap;
}
.temperature {
  font-family: var(--font-helvetica-neue);
  white-space: pre-wrap;
}
.rsultats-resultats-membres-container {
  height: 1021px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.user-behavior-analysis6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 199.3px var(--padding-30xl);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.rsultats-casual-call-container {
  height: 1165px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.user-behavior-analysis9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 45.3px var(--padding-30xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon16,
.frame31 {
  height: 353px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-icon16 {
  height: 635px;
}
.analyse-des-habitudes-container {
  height: 325px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.peak-usage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 112.4px var(--padding-29xl);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon18 {
  height: 451px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.user-behavior-analysis12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl) var(--padding-15xl-3) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.ici-on-voit-container {
  height: 240px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.user-behavior-analysis13 {
  width: 1043px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.heures-de-la-journee-1 {
  height: 349px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.user-behavior-analysis14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) var(--padding-15xl-3) var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
}
.capture-decran-le-2025-02-016 {
  height: 459px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.analyse-des-habitudes-dutilis-wrapper,
.ici-on-voit-bien-quil-y-a-2-p-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.analyse-des-habitudes-dutilis-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-17xl) var(--padding-15xl-3) var(--padding-16xl);
}
.ici-on-voit-bien-quil-y-a-2-p-wrapper {
  width: 1051.5px;
  padding: 0 var(--padding-21xl) 76.3px;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.bikes-membres-1 {
  height: 302px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 294px;
}
.casual-results,
.frame68 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame68 {
  flex: 1;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 47px;
}
.casual-results {
  padding: 0 var(--padding-17xl) var(--padding-15xl-3);
  box-sizing: border-box;
}
.capture-decran-le-2025-02-017 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0.5px;
  max-height: 100%;
  width: 953px;
  object-fit: cover;
}
.frame-icon19 {
  height: 771px;
  flex: 1;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.ici-on-peut-container {
  height: 690px;
  width: 971px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  max-height: 690px;
  word-break: break-word;
}
.ici-on-peut-voir-que-les-casua-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl) 142px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.station-les-plus-utilisees-1 {
  height: 282px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.station-les-plus-utilisees-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) var(--padding-15xl-3) var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame {
  height: 465px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.graph-stations-1,
.la-carte-et-container {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.la-carte-et-container {
  width: 971px;
  height: 300px;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.graph-stations-1 {
  align-self: stretch;
  height: 490px;
  overflow: hidden;
  object-fit: cover;
}
.frame72,
.map-and-graphs-details-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame72 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 574px;
  gap: 99px;
}
.map-and-graphs-details-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-23xl) var(--padding-15xl-4) var(--padding-16xl);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon22 {
  height: 480px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.la-carte-et-container1 {
  height: 847px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.data-download {
  width: 1051.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-15xl-4);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-courier-new);
}
.frame-icon21 {
  height: 355px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.table-analysis {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl) 70.3px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon3 {
  height: 788px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.fin-de-lanalyse-container {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.frame-wrapper15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) var(--padding-15xl-3) var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-3xl);
}
.blank-line93 {
  margin: 0;
  font-size: var(--font-size-11xl);
}
.interprtations {
  height: 32px;
  width: 971px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 116%;
}
.frame44,
.map-and-graphs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame44 {
  width: 841px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 19px var(--padding-11xs);
}
.map-and-graphs {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-12xs) var(--padding-15xl-3) 0;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.pic-de-lutilisation-container1 {
  height: 1125px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.pic-de-lutilisation-en-septem-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl) 98.3px var(--padding-29xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.frame-icon26 {
height: auto; /* Ajuste la hauteur automatiquement */
max-width: 100%; /* Prend toute la largeur disponible */
flex: 1;
position: relative;
overflow: hidden;
object-fit: contain; /* Garde l'image entière sans la couper */
}
  
.la-carte-et-les-graphiques-off-wrapper,
.pic-de-lutilisation-en-septem-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.la-carte-et-les-graphiques-off-wrapper {
  padding: 0 var(--padding-28xl) var(--padding-15xl-3) var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
}
.pic-de-lutilisation-en-septem-container {
  padding: 0 51px var(--padding-16xl) var(--padding-24xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.capture-decran-le-2025-02-021 {
  width: 976px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.capture-decran-le-2025-02-0-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-21xl) var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.conditions-mtorologiques-tem-container {
  height: 2025px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.casual-stations-usage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 284.3px var(--padding-30xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.recommandations {
  height: 76px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.frame-wrapper12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 159px var(--padding-15xl-3) 158px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.afin-daugmenter-le-container {
  margin-top: -61px;
  height: 3075px;
  width: 973px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 103%;
}
.desktop-1,
.fin-de-lanalyse-wrapper,
.frame48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame48 {
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 436px var(--padding-11xs);
  max-width: 100%;
}
.desktop-1,
.fin-de-lanalyse-wrapper {
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.fin-de-lanalyse-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-39xl) 0 var(--padding-38xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #202020;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-21xl) 187px 3351.2px;
  gap: 20px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-11xl);
}
@media screen and (max-width: 1200px) {
  .user-behavior-analysis6 {
    padding-bottom: 130px;
    box-sizing: border-box;
  }
  .user-behavior-analysis9 {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .frame72 {
    padding-bottom: 373px;
    box-sizing: border-box;
  }
  .pic-de-lutilisation-en-septem-wrapper {
    padding-bottom: 64px;
    box-sizing: border-box;
  }
  .casual-stations-usage {
    padding-bottom: var(--padding-101xl);
    box-sizing: border-box;
  }
  .frame48 {
    padding-bottom: 184px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .tude-de-cas {
    font-size: 29px;
  }
  .scnario {
    font-size: var(--font-size-5xl);
  }
  .scnario-wrapper {
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-39xl);
    box-sizing: border-box;
  }
  .cyclistic-bike-share-est-une-e-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .ask-demander {
    font-size: var(--font-size-5xl);
  }
  .mission-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .prparer-les-donnes {
    font-size: var(--font-size-5xl);
  }
  .nous-aurons-accs-aux-donnes-wrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-4xl);
    padding-bottom: 27px;
    box-sizing: border-box;
  }
  .nettoyer-et-organiser {
    font-size: var(--font-size-5xl);
  }
  .frame-wrapper,
  .premirement-jai-tlcharg-wrapper {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frame-wrapper {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
  }
  .peak-usage-analysis13 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .peak-usage-analysis32 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .peak-usage-analysis20,
  .peak-usage-analysis35,
  .tripduration-secs-le-temps-d-wrapper,
  .vrification-du-format-de-date-wrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .peak-usage-analysis20,
  .peak-usage-analysis35 {
    padding-right: var(--padding-4xl);
  }
  .peak-usage-analysis24 {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
  .analyse-des-donnes {
    font-size: var(--font-size-5xl);
  }
  .nous-arrivons-maintenant-la-wrapper,
  .peak-usage-analysis26 {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .nous-arrivons-maintenant-la-wrapper {
    padding-left: var(--padding-16xl);
  }
  .frame-wrapper5 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .peak-usage-analysis7,
  .prparer-les-donnes-wrapper,
  .quel-est-le-mois-o-les-utilis-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .peak-usage-analysis7 {
    padding-right: var(--padding-4xl);
  }
  .analyse-des-conditions-mtoro-wrapper,
  .evolution-annuelle-par-type-d-wrapper,
  .peak-usage-analysis38,
  .sans-surprise-les-utilisateur-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .peak-usage,
  .user-behavior-analysis4,
  .user-behavior-analysis6,
  .user-behavior-analysis9 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .ici-on-peut-voir-que-les-casua-wrapper {
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
  .station-les-plus-utilisees-1-wrapper {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frame72 {
    gap: 49px;
  }
  .map-and-graphs-details-wrapper {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frame-wrapper15,
  .table-analysis {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .frame-wrapper15 {
    padding-left: var(--padding-5xl);
  }
  .interprtations {
    font-size: var(--font-size-5xl);
  }
  .la-carte-et-les-graphiques-off-wrapper,
  .pic-de-lutilisation-en-septem-wrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .la-carte-et-les-graphiques-off-wrapper {
    padding-left: var(--padding-4xl);
  }
  .pic-de-lutilisation-en-septem-container {
    padding-left: var(--padding-2xl);
    padding-right: 25px;
    box-sizing: border-box;
  }
  .casual-stations-usage {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .recommandations {
    font-size: var(--font-size-5xl);
  }
  .frame-wrapper12 {
    padding-left: var(--padding-60xl);
    padding-right: var(--padding-60xl);
    box-sizing: border-box;
  }
  .frame48 {
    padding-bottom: var(--padding-101xl);
    box-sizing: border-box;
  }
  .fin-de-lanalyse-wrapper {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .scnario-wrapper {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .ask-demander-wrapper {
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-38xl);
    box-sizing: border-box;
  }
  .capture-decran-le-2025-02-0-container {
    padding-left: 56px;
    padding-right: 55px;
    box-sizing: border-box;
  }
  .nous-aurons-accs-aux-donnes-wrapper {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .premirement-jai-tlcharg-wrapper {
    padding-bottom: 95px;
    box-sizing: border-box;
  }
  .nous-arrivons-maintenant-la-wrapper {
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
  .quel-est-le-mois-o-les-utilis-wrapper {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .user-behavior-analysis6 {
    padding-bottom: 84px;
    box-sizing: border-box;
  }
  .user-behavior-analysis9 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame68 {
    gap: 23px;
  }
  .frame72 {
    gap: 25px;
    padding-bottom: 242px;
    box-sizing: border-box;
  }
  .pic-de-lutilisation-en-septem-wrapper {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .casual-stations-usage {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .desktop-1,
  .frame-wrapper12 {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 21px;
    padding-left: var(--padding-74xl);
    padding-right: var(--padding-74xl);
  }
}
@media screen and (max-width: 450px) {
  .tude-de-cas {
    font-size: var(--font-size-3xl);
  }
  .ask-demander,
  .cyclistic-bike-share-container,
  .cyclistic-bike-share-container1,
  .scnario {
    font-size: var(--font-size-lg);
  }
  .mission-wrapper {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .prparer-les-donnes {
    font-size: var(--font-size-lg);
  }
  .capture-decran-le-2025-02-0-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .analyse-des-conditions-container,
  .analyse-des-donnes,
  .analyse-des-habitudes-container,
  .en-analysant-ces-container,
  .evolution-annuelle-par-container,
  .la-rgression-linaire-container,
  .n-trips-0-container,
  .nettoyer-et-organiser,
  .nous-allons-maintenant1,
  .nous-arrivons-maintenant-container,
  .nous-aurons-accs-container,
  .premirement-jai-tlcharg-container,
  .quel-est-le-container,
  .regression-lineaire-container,
  .rsultats-casual-call-container,
  .rsultats-resultats-membres-container,
  .sans-surprise-les-container,
  .tripduration-secs-le-container {
    font-size: var(--font-size-lg);
  }
  .peak-usage {
    padding-bottom: 73px;
    box-sizing: border-box;
  }
  .ici-on-peut-container,
  .ici-on-voit-container {
    font-size: var(--font-size-2xl);
  }
  .ici-on-peut-voir-que-les-casua-wrapper {
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .la-carte-et-container,
  .la-carte-et-container1 {
    font-size: var(--font-size-2xl);
  }
  .afin-daugmenter-le-container,
  .conditions-mtorologiques-tem-container,
  .fin-de-lanalyse-container,
  .interprtations,
  .pic-de-lutilisation-container1,
  .recommandations {
    font-size: var(--font-size-lg);
  }
  .desktop-1,
  .frame48 {
    box-sizing: border-box;
  }
  .frame48 {
    padding-bottom: var(--padding-59xl);
  }
  .desktop-1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
}
