@font-face {
    font-family: 'Signatra';
    src: url('../fonts/Signatra.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttc') format('truetype');
}

/* Styles globaux */
body {
    background-color: #202020;  /* Gris foncé */
    color: #f0f0e6;  /* Blanc cassé */
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* HEADER */
header {
    background-color: #181818; /* Gris encore plus foncé */
    padding: 12px 50px;
    display: flex;
    justify-content: center;  /* Centre les éléments */
    align-items: center;
    border-bottom: 2px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* Partie gauche du header */
.header-left {
    display: flex;
    align-items: center;
    margin-right: 50px; /* Éloigne du menu */
}

.logo {
    height: 50px; /* Taille réduite */
    margin-right: 30px; /* Plus d'espace avec le texte */
}

.name {
    font-family: 'Signatra', sans-serif;  
    font-size: 3.4rem; /* Taille réduite */
    color: #f0f0e6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Liens du header */
.header-right {
    display: flex;
    gap: 50px; /* Espacement augmenté */
}

.header-right a {
    font-size: 1.8rem; /* Légèrement réduit */
    color: #f0f0e6 !important;
    text-decoration: none !important;
    transition: color 0.3s;
}

.header-right a:hover {
    color: #00bfff;
}

/* CONTENU PRINCIPAL */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    margin-top: 100px;
}

.profile-picture {
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
}

.main-name {
    font-size: 2rem;
    margin-bottom: 2px; /* Réduction encore plus */
    color: #f0f0e6; /* Blanc cassé */
}

.subtitle {
    font-size: 1.2rem;
    color: #b0b0b0; /* Gris plus foncé */
    margin-bottom: 20px;
}

/* ICONES SOCIAUX */
.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.social-links img {
    width: 40px;
    height: 40px;
    filter: invert(1);
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1);
}
